* {
  transition: 0.2s ease-out !important;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.gameContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.you, .enemy {
  width: 40%;
  padding: 0px 25px;
}
.you {
  background-color: #fd9644;
}
.enemy {
  background-color: #fa8231;
}

.hp {
  width: 100%;
  height: 10px;
  background: #c0392b;
}

.btnCustom {
  background-color: #20bf6b;
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 10px 16px;
  margin-top: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.btnCustom:hover {
  transform: scale(1.1);
}
.btnCustom:active {
  transform: scale(1);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
